:root {
	--bleu-RL:#00489F;
	--bleu-clair:#008CDF;
	--bleu-fonce:#000B28;
}

* {
	font-family : "Arial" ;
	font-size : 14pt ;
}

main {
    color : var(--bleu-RL);
    background-color: var(--bleu-clair);
}

.topnav {
	background-color:var(--bleu-fonce);
	position:sticky;
	top:0px;
	height:65px;
}

.topnav a:visited,a:link {
	color:gray;
	text-decoration:none;
}

.topnav a:hover {
	color:white;
	background-color:var(--bleu-RL)
}

.topnav a {
	float: left;
	height:50px;
	width:150px;
	text-align:center;
	padding-top : 15px;
}

p {
	height:400px;
}