:root {
	--bleu-RL:#00489F;
	--bleu-clair:#008CDF;
	--bleu-fonce:#000B28;
}

* {
	font-family : "Arial" ;
	font-size : 14pt ;
}

body {
    color : var(--bleu-RL);
	background-image:url("images/background.png");
}

.topnav {
	background-color:var(--bleu-fonce);
	position:fixed;
	margin:0%;
	padding:0%;
	display:flex;
	justify-content: space-evenly;
	top:0px;
	left:0px;
	height:10vh;
	width:100%;
}

.topnav a:visited,a:link {
	color:gray;
	text-decoration:none;
}

.topnav a:hover {
	color:white;
	background-color:var(--bleu-RL);
}

.topnav a {
	float: left;
	height:10vh;
	width:12%;
	display:flex;
	justify-content: center;
	align-items: center;
}

.topnav #pageepic {
	background-color: gold;
	color:black;
}

.topnav #pageepic:hover {
	color:white;
	background-color:yellow;
	height:10vh;
}

.topnav img {
	float: left;
	max-width:4%;
	max-height:8vh;
	width:auto;
	height:auto;
	margin-top:auto;
	margin-bottom:auto;
}

main {
	padding-top:10vh;
	width:100%;
}

.grid {
	height:100%;
	width:100%;
	display:grid;
	grid-gap:25px;
	grid-template-columns:1fr 3fr 1fr;
	grid-template-rows: 10vh auto auto auto 15vh;
	grid-template-areas:
	"entete entete entete"
	"sidebar contenu contenu"
	"sidebar contenu contenu"
	"sidebar contenu contenu"
	"pied pied pied";
}

.grid div {
	border-radius:25px;
}

.entete {
	grid-area: entete;
	background-color:var(--bleu-fonce);
}

.contenu {
	grid-area: contenu;
	background-color:var(--bleu-fonce);
}

.sidebar {
	grid-area: sidebar;
	background-color:var(--bleu-fonce);
}

.pied {
	grid-area: pied;
	background-color:var(--bleu-fonce);
}

